@{
    ViewBag.Title = "Demos";
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-1_3x"></i></a></li>
        <li><a href="/Demos#demo-selection" onclick="return LoadContent('#demo-selection');">Demos</a></li>
    </ol>
}

<div id="demo-area">
</div>

<div class="demo-content">
    <script type="text/html" id="angular">
        @Html.Partial("_angular")
    </script>

    <script type="text/html" id="bootstrap">
        @Html.Partial("_bootstrap")
    </script>

    <script type="text/html" id="jasmine">
        @Html.Partial("_jasmin")
    </script>

    <script type="text/html" id="type-js">
        @Html.Partial("_type-js")
    </script>

    <script type="text/html" id="sass-less">
        @Html.Partial("_sass-less")
    </script>

    <script type="text/html" id="bower-npm">
        @Html.Partial("_bower-npm")
    </script>

    <script type="text/html" id="git-gulp">
        @Html.Partial("_git-gulp")
    </script>

    <script type="text/html" id="knockout">
        @Html.Partial("_knockout")
    </script>

    <script type="text/html" id="font-awesome">
        @Html.Partial("_font-awesome")
    </script>

    <script type="text/html" id="jshint">
        @Html.Partial("_jshint")
    </script>

    <script type="text/html" id="demo-selection">
        <section>
            <ul>
                <li><a href="/Demos#bootstrap" onclick="return LoadContent('#bootstrap');">Bootstrap</a></li>
                <li><a href="/Demos#jasmine" onclick="return LoadContent('#jasmine');">Jasmine Test</a></li>
                <li><a href="/Demos#sass-less" onclick="return LoadContent('#sass-less');">Sass &amp; Scss</a></li>
                <li><a href="/Demos#jshint" onclick="return LoadContent('#jshint');">JSHint</a></li>
                <li><a href="/Demos#bower-npm" onclick="return LoadContent('#bower-npm');">npm &amp; Bower</a></li>
                <li><a href="/Demos#git-gulp" onclick="return LoadContent('#git-gulp');">Git &amp; Gulp</a></li>
                <li><a href="/Demos#angular" onclick="return LoadContent('#angular');">Angular JS</a></li>
                <li><a href="/Demos#knockout" onclick="return LoadContent('#knockout');">Knockout JS</a></li>
                <li><a href="/Demos#font-awesome" onclick="return LoadContent('#font-awesome');">Font Awesome</a></li>
                <li><a href="/Demos#type-js" onclick="return LoadContent('#type-js');">Type Script</a></li>
            </ul>
        </section>
    </script>

</div>

@section pageStyle {
    <style type="text/css">
        pre {
            display: inline-block;
        }
    </style>
}

@section pageScript {
    <script type="text/javascript">
        function LoadContent(id) {
            var html = $(id).html();
            $("#demo-area").html(html);
            window.scrollTo(0, 0);
            return true;
        }

        RegisterOnload(function () {
            var id = window.location.hash;
            if (id) {
                LoadContent(id);
            }
            else {
                LoadContent('#demo-selection');
            }
        });
    </script>
}
