@model List<WebFramework.Models.Products.Item>

@{
    Layout = "~/Views/Shared/_subMenuLayout.cshtml";
    ViewBag.Title = "Collections";
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-1_3x"></i></a></li>
        <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
    </ol>
}

@section subMenu {
    @{
        var count = string.Empty;
        if (ViewBag.ListCount != null)
        {
            count = ((int)ViewBag.ListCount).ToString();
        }
    }
    @Html.Partial("_subMenu", count)
}

<h1 class="text-uppercase">Collections <small class="text-capitalize">Check out our exotic collections</small></h1>

<div class="row">
    @for (var i = 0; i < Model.Count; ++i)
    {
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="padding-top: 20px">
            <a href="@Model[i].BuyUrl">
                <img src="@Model[i].ImageUrl" alt="@Model[i].Name" class="img-thumbnail" />
            </a>
            <div>
                <b>@Model[i].Name</b>
            </div>
            <div>
                <i class="fa fa-star fa-1_1x"></i>
                <i class="fa fa-star fa-1_1x"></i>
                <i class="fa fa-star fa-1_1x"></i>
                <i class="fa fa-star fa-1_1x"></i>
                <i class="fa fa-star-half-full fa-1_1x"></i>

                <span style="font-weight: bold; color: red; text-decoration: line-through; float: right">
                    Was £@Model[i].CurrentPrice
                </span>
            </div>
            <a class="btn btn-custom-success" href="@Model[i].BuyUrl" style="font-weight: bold; float: right">
                Now £@Model[i].NewPrice
            </a>
        </div>
    }
</div>
