@using WebFramework.Models.Products;
@model IEnumerable<Item>

@{
    Layout = "~/Views/Shared/_subMenuLayout.cshtml";
    ViewBag.Title = "List";
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-1_3x"></i></a></li>
        <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
        <li class="active"><a href="@Url.Action("List", "Dashboard")">List</a></li>
    </ol>
}

@section subMenu {
    @{
        var count = string.Empty;
        if (ViewBag.ListCount != null)
        {
            count = ((int)ViewBag.ListCount).ToString();
        }
    }
    @Html.Partial("_subMenu", count)
}

<h1 class="text-uppercase">List of products 
    <small class="text-capitalize hidden-xs hidden-sm">Exploring Dashboard</small>
    <span class="btn btn-custom-success btn-md visible-lg" data-toggle="modal" data-target="#create-modal" style="float: right">
        Create New Product &nbsp; <i class="fa fa-plus-square fa-1_1x"></i>
    </span>
    <span class="btn btn-custom-success btn-md visible-md" data-toggle="modal" data-target="#create-modal" style="float: right">
        Create New Model &nbsp; <i class="fa fa-plus-square fa-1_1x"></i>
    </span>
    <span class="btn btn-custom-success btn-sm visible-sm" data-toggle="modal" data-target="#create-modal" style="float: right">
        Create New Model &nbsp; <i class="fa fa-plus-square fa-1_1x"></i>
    </span>
    <span class="btn btn-custom-success btn-xs visible-xs" data-toggle="modal" data-target="#create-modal" style="float: right">
        Create New Model &nbsp; <i class="fa fa-plus-square fa-1_1x"></i>
    </span>
</h1>

<div class="table-responsive">
    <table style="margin-bottom: 100px;margin-right: 50px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th style="text-align: center">
                    Buy URL
                </th>
                <th class="hidden-xs hidden-sm">
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th class="hidden-xs hidden-sm">
                    @Html.DisplayNameFor(model => model.UpdatedOn)
                </th>
                <th class="hidden-xs hidden-sm">
                    @Html.DisplayNameFor(model => model.Deleted)
                </th>
                <th style="text-align: center">
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuyUrl)
                    </td>
                    <td class="hidden-xs hidden-sm">
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td class="hidden-xs hidden-sm">
                        @Html.DisplayFor(modelItem => item.UpdatedOn)
                    </td>
                    <td class="hidden-xs hidden-sm">
                        @Html.DisplayFor(modelItem => item.Deleted)
                    </td>
                    <td>
                        <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Click to perform an action.">
                            <button type="button" class="btn btn-custom-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog fa-1_4x"></i>
                                &nbsp; Options &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="margin-left: -25px">
                                <li>
                                    <a href="@Url.Action("Edit", new { id = item.Id })">
                                        <i class="fa fa-pencil fa-1_1x"></i>&nbsp; Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Details", new { id = item.Id })">
                                        <i class="fa fa-info-circle fa-1_1x"></i>&nbsp; Details
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Delete", new { id = item.Id })">
                                        <i class="fa fa-trash-o fa-1_1x"></i>&nbsp; Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">

    @using (Html.BeginForm("Create", "Dashboard", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        Html.ValidationSummary(true);
        @Html.AntiForgeryToken()

        var dialogDetails = new WebFramework.ViewModels.ModalViewModel 
                                    { 
                                        Title = MvcHtmlString.Create("Create New Product"),
                                        Body = Html.Partial("_createPartialView", new Item()),
                                        Cancel = MvcHtmlString.Create("Cancel"),
                                        Ok = MvcHtmlString.Create("Save")
                                    };

        Html.RenderPartial("_modalDialog", dialogDetails);
    }

</div>


@section pageStyle {
    @Styles.Render("~/bundles/form-data-styles")
}

@section pageScript {
    @Scripts.Render("~/bundles/form-data-validation")

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
