<div class="row">
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Editorial Picks&nbsp;<span class="glyphicon glyphicon-new-window"></span></div>
        <div><a href="https://msdn.microsoft.com/en-us/library/hh323724(v=vs.100).aspx" target="_blank">SOAP vs REST Services</a></div>
        <div><a href="https://scotch.io/bar-talk/s-o-l-i-d-the-first-five-principles-of-object-oriented-design" target="_blank">S.O.L.I.D Priciples Explained</a></div>
        <div><a href="https://sourcemaking.com/design_patterns" target="_blank">Practicality of Design Patterns</a></div>
        <div><a href="http://www.vertabelo.com/blog/notes-from-the-lab/13-blog-articles-with-database-design-tips-and-best-practices" target="_blank">Database Design Best Practices</a></div>
        <div><a href="http://agiledata.org/essays/tdd.html" target="_blank">Test-Driven Development</a></div>
    </div>
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Client-side Technologies</div>
        <div><a href="Demos#bootstrap" onclick="return LoadContent('#bootstrap');">Bootstrap</a></div>
        <div><a href="Demos#jasmine" onclick="return LoadContent('#jasmine');">Jasmine Test</a></div>
        <div><a href="Demos#jshint" onclick="return LoadContent('#jshint');">JSHint</a></div>
        <div><a href="Demos#sass-less" onclick="return LoadContent('#sass-less');">Sass &amp; Scss</a></div>
        <div><a href="Demos#bower-npm" onclick="return LoadContent('#bower-npm');">npm &amp; Bower</a></div>
        <div><a href="Demos#git-gulp" onclick="return LoadContent('#git-gulp');">Git &amp; Gulp</a></div>
        <div><a href="Demos#angular" onclick="return LoadContent('#angular');">Angular JS</a></div>
        <div><a href="Demos#knockout" onclick="return LoadContent('#knockout');">Knockout JS</a></div>
    </div>
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Server-side Technologies&nbsp;<span class="glyphicon glyphicon-new-window"></span></div>
        <div><a href="http://www.asp.net/mvc" target="_blank">ASP.NET MVC</a></div>
        <div><a href="http://www.asp.net/web-api" target="_blank">ASP.NET WebAPI</a></div>
        <div><a href="http://www.entityframeworktutorial.net/" target="_blank">Entity Framework</a></div>
        <div><a href="http://www.smart-soft.co.uk/Oracle/advanced-sql-tutorial.htm#.V-Mac61ywhQ" target="_blank">SQL Queries &amp; Sub-Queries</a></div>
        <div><a href="https://msdn.microsoft.com/en-us/library/ms181286(v=vs.90).aspx" target="_blank">Creating Build Definitions for CI</a></div>
        <div><a href="https://azure.microsoft.com/en-gb/documentation/articles/web-sites-dotnet-get-started/" target="_blank">Get Started With Azure</a></div>
    </div>
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Get in touch</div>
        <div>@Html.ActionLink("Facebook", "About", "Home")</div>
        <div>@Html.ActionLink("Twitter", "About", "Home")</div>
        <div>@Html.ActionLink("Google", "About", "Home")</div>
        <div>@Html.ActionLink("Youtube", "About", "Home")</div>
        <div>@Html.ActionLink("Our blogs", "About", "Home")</div>
    </div>
</div>
