<div class="row">
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Editorial Picks</div>
        <div>@Html.ActionLink("Track order & returns", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Returns, Exchanges & Refunds", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Delivery & Collection information", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("My order", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("FAQs", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Help / Contact us", "Index", "Dashboard")</div>
    </div>
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Client-side Technologies</div>
        <div>@Html.ActionLink("About the company", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Corporate affairs", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Careers", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Press anouncements", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Upcoming events", "Index", "Dashboard")</div>
    </div>
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Server-side Technologies</div>
        <div><a href="http://www.asp.net/mvc" target="_blank">ASP.NET MVC</a></div>
        <div><a href="http://www.asp.net/web-api" target="_blank">ASP.NET WebAPI</a></div>
        <div>@Html.ActionLink("Store services", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Beauty club", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Buying guides", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Competitions", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Personal shopper", "Index", "Dashboard")</div>
    </div>
    <div class="inline col-lg-3 col-md-3 col-sm-3">
        <div class="heading">Get in touch</div>
        <div>@Html.ActionLink("Facebook", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Twitter", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Google", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Youtube", "Index", "Dashboard")</div>
        <div>@Html.ActionLink("Our blogs", "Index", "Dashboard")</div>
    </div>
</div>
