@using WebFramework.Areas.Blog.ViewModels
@model BlogViewModel

@{
    ViewBag.Title = "";
    Layout = "~/Areas/Blog/Views/Shared/_blogLayout.cshtml";
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-home fa-1_3x"></i></a></li>
        <li><a href="@Url.Action("AllPosts", "Home", new { area = "Blog" })">All Posts</a></li>
    </ol>
}

@section blogMenu {
    @Html.Partial("_blogMenu", Model)
}

<section id="all-posts-section">

    <div>
        <h1 class="">
            .NET Blogs
            <span class="badge" data-bind="visible: TotalNumberOfPosts() > 0, text: TotalNumberOfPosts()" style="margin-top: -40px; margin-left: -10px;"></span>
            <small class="text-capitalize hidden-xs hidden-sm">Learning intricacies</small>
        </h1>
    </div>

    <div style="min-height: 600px;border-top: 1px dotted #777; padding: 0">
        <div id="no-posts-message" data-bind="visible: TotalNumberOfPosts() == 0" style="display: none;">
            <i class="fa fa-exclamation-circle fa-1_3x"></i>&nbsp;&nbsp;There are no posts currently on the subject you are looking for.
        </div>

        <!-- ko if: TotalNumberOfPosts() > 0 -->
        <div data-bind="foreach: Posts(), visible: true" style="display: none;">
            <div style="border-bottom: 1px dotted #777; padding: 20px 0">
                <h4>
                    <span><a class="title" data-bind="attr: { href: PostHref, title: Title }, html: Title"></a></span>
                </h4>

                <div class="visible-xs" style="margin: 10px 0">
                    <span>
                        Category:
                        <a class="category" data-bind="attr: { href: CategoryHref, title: Category.Name }, text: Category.Name, visible: (Parent.Category().toLowerCase() != Category.Name.toLowerCase()), click: SelectCategory"></a>
                        <a class="category selected-category" data-bind="attr: { href: SelectedCategoryHref, title: Category.Name }, text: Category.Name, visible: (Parent.Category().toLowerCase() == Category.Name.toLowerCase()), click: DeselectCategory"></a>
                    </span>

                    <span style="float: left">
                        Posted: <span data-bind="text: PostedOn"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>

                <div class="hidden-xs" style="margin: 10px 0">
                    <span>
                        Category:
                        <a class="category" data-bind="attr: { href: CategoryHref, title: Category.Name }, text: Category.Name, visible: (Parent.Category().toLowerCase() != Category.Name.toLowerCase()), click: SelectCategory"></a>
                        <a class="category selected-category" data-bind="attr: { href: SelectedCategoryHref, title: Category.Name }, text: Category.Name, visible: (Parent.Category().toLowerCase() == Category.Name.toLowerCase()), click: DeselectCategory"></a>
                    </span>

                    <span data-bind="visible: (ModifiedOn != '')" style="font-size: 0.8em; float: right;padding-top: 2px">&nbsp;&nbsp;(Modified: <span data-bind="text: ModifiedOn"></span>)</span>
                    <span style="float: right">
                        Posted: <span data-bind="text: PostedOn"></span>
                    </span>
                </div>

                <div class="hidden-xs">
                    <div style="text-align: justify">
                        <span data-bind="html: ShortDescription"></span>
                        <a class="title" data-bind="attr: { href: PostHref, title: Title }">Read more</a>
                    </div>
                </div>
                <div class="visible-xs">
                    <div style="text-align: justify">
                        <span data-bind="html: ShorterDescription"></span>
                        <a class="title" data-bind="attr: { href: PostHref, title: Title }">more</a>
                    </div>
                </div>

                <div style="padding-top: 15px">
                    Tags:
                    <span data-bind="foreach: Tags()">
                        <span><a class="tag-link" data-bind="attr: { href: TagHref, title: Name }, text: Name, visible: (Parent.Tag().toLowerCase() != Name.toLowerCase()), click: SelectTag"></a></span>
                        <span><a class="tag-link selected" data-bind="attr: { href: SelectedTagHref, title: Name }, text: Name, visible: (Parent.Tag().toLowerCase() == Name.toLowerCase()), click: DeselectTag"></a></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div style="display: block; text-align: center; padding-top: 20px;">
        <a data-bind="attr: { href: PrevPageUrl(), Title: 'Older Posts' }, visible: (PrevPageUrl() != null && PrevPageUrl() != ''), click: GoToPrevPage"
           class="btn btn-custom-metallic btn-md" style="float: left; display: none">
            <i class="fa fa-chevron-circle-left"></i>&nbsp; Older
        </a>

        <a href="#top" class="btn btn-custom-metallic btn-md" data-bind="visible: NumberOfPostsInCurrentPage() > 5" style="display: none">
            <i class="fa fa-chevron-circle-up fa-1_5x"></i>
        </a>

        <a data-bind="attr: { href: NextPageUrl(), Title: 'Newer Posts' }, visible: (NextPageUrl() != null && NextPageUrl() != ''), click: GoToNextPage"
           class="btn btn-custom-metallic btn-md" style="float: right; display: none">
            Newer &nbsp;<i class="fa fa-chevron-circle-right"></i>
        </a>
    </div>

</section>

@section pageScript {
    <script type="text/javascript">
        var allPostsMvcViewModel = { AllPostsApiEndpoint: "@Model.AllPostsApiEndpoint" };
    </script>

    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE=" crossorigin="anonymous"></script>
    <script>(window.jQuery.ui || document.write('<script src="/Content/jQuery/jquery-ui-1.11.4.min.js"><\/script>'));</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js" integrity="sha384-tvhEVHsrzai+guUF4cd0SVl6+tXsWu2ioLB3VR9mjkFuw3fevJVq6aJtxqTLhIv6" crossorigin="anonymous"></script>
    <script>(window.ko || document.write('<script src="/Content/KnockoutJs/knockout-3.4.0.js"><\/script>'));</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.min.js" integrity="sha384-D036DCQcFKVjaInZT7J2WWKtVBAh1JoTqn/yu7nhkc+dsvSFe1w8TsJkqEqc6a3Y" crossorigin="anonymous"></script>
    <script>(window.Enumerable || document.write('<script src="/Content/jQuery/linq.min.js"><\/script>'));</script>

    @Scripts.Render("~/bundles/blog/all-posts")
}
